body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
/*Задаём основные размеры и цвет и стиль мелких элементов*/
.site-navigation-item a{
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: 700;
}
.create-integration-h{
    font-size: 30px;
    line-height: 70%;
    text-align: center;
    letter-spacing: 0.15em;
    font-feature-settings: 'kern' off;
}
input {
    display: block;
    height: 50px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
    border-bottom: 2px solid #000;
    background-color: rgba(0,0,0,0);
    outline: 0;  
}
input::placeholder {
    color: #696969;
    opacity: 0.72;
  }
.button-add input{
    background: #075EE1;
    border-radius: 58px;
    color: #FFFFFF;
    font-weight: 700;
}
/*фон и отступы крупных блоков */
.main-header, .main-footer{
    background-color: #E0E6FF;
}
main{
    background: #F3F4FF;
    mix-blend-mode: normal;
    padding-top: 90px;
    padding-bottom: 90px;
}
/*Крупная сетка*/
.site-navigation{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
}

form{
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
}

/*мелкая сетка*/
.create-integration-h{
    margin:0;
    margin-bottom: 80px;
}
input{
    width: 100%;
}
form p{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button-add{
    margin: 0;
    margin-top: 20px;
}
/*реакция кнопок и ссылок при наведении*/
.site-navigation a{
    position: relative;
    cursor: pointer;
}
.site-navigation a:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -2px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: black; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

.site-navigation a:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px; /* Высота линии */
    background-color: blue; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}

.button-add input:hover{
    opacity: 0.72;
}
/*стилизация попапа*/
.popup{
    position:fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
}
.popup-body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup-content{
    background-color: #E0E6FF;;
    color: #000;
    max-width: 800px;
    padding: 30px 30px;
    position: relative;
    border-radius: 10px;
}
.close-popup{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.hidden{
    display: none;
}


