body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
/*стилизуем шапку*/
.site-navigation-item{
    list-style-type: none;
}
.site-navigation a {
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: 700;
}
.main-header{
    background-color: #E0E6FF;
}
.site-navigation{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
}
.site-navigation a{
    position: relative;
    cursor: pointer;
}
.site-navigation a:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -2px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: black; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

.site-navigation a:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px; /* Высота линии */
    background-color: blue; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}
/*стилизуем основноую страницу*/
main{
    background-color: #F3F4FF;
    padding: 40px 0 90px;
}
.main-content h1{
    font-size: 30px;
    line-height: 70%;
    text-align: center;
    margin:0;
    margin-bottom: 45px;
}
.servers-count{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
.servers-list-blok{
    background-color: #E0E6FF;
    height:600px;
    margin-bottom: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
}
.servers-list-blok::-webkit-scrollbar {
    width: 5px;               /* ширина scrollbar */
  }
.servers-list-blok::-webkit-scrollbar-track {
    background: #F3F4FF;        /* цвет дорожки */
  }
.servers-list-blok::-webkit-scrollbar-thumb {
    background-color: gainsboro;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 1px solid gainsboro  /* padding вокруг плашки */
  }
.servers-list{
    margin: 0;
    padding: 0;
    list-style: none;
    
}

.add-server{
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    background: #075EE1;
    border-radius: 58px;
    font-weight: 700;
    width: 20%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

/*делаем табличный вид списка*/
.servers-list-item{
    display: flex;
}
.item-heading{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
}
.name-value{
    width: 30%;
    text-align: center;
    align-self: center;
}
.item-value .name-value{
    text-decoration:underline;
    cursor: pointer;
}
.item-value .name-value:hover{
    color: blue;
}
.url-value{
    width: 50%;
    text-align: center;
    align-self: center;
}
.problems-count-value{
    width: 10%;
    text-align: center;
    align-self: center;
}
.objects-count-value{
    width: 10%;
    text-align: center;
    align-self: center;
}
.servers-list-item div{
    border: #000000 1px solid;
    overflow-x:hidden;
    white-space: nowrap;
}
/*Стилизуем попап*/
.popup{
    position:fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
}
.popup-body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup-content{
    background-color: #E0E6FF;;
    color: #000;
    min-width: 400px;
    max-width: 800px;
    padding: 30px 30px 10px;
    position: relative;
    border-radius: 10px;
}
.close-popup{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.hidden{
    display: none;
}
.popup-name-server{
    text-align: center;
    margin: 0;
    padding: 0;
}
.popup-title-description{
    margin-top: 5px;
    margin-bottom: 2px;
}
.popup-content-container{
    border: 2px solid #ACACAC;
    min-height: 100px;
    max-height: 100%;
    padding: 5px;
}
.button-delete input{
    display: block;
    height: 30px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
    background: #075EE1;
    border-radius: 58px;
    color: #FFFFFF;
    font-weight: 700;
    padding: 5px;
}
.button-delete{
    margin:0;
    margin-top: 10px;
}
.button-delete input:hover{
    opacity: 0.72;
    cursor: pointer;
}