<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Добавление СМ</title>
    <link rel= "stylesheet" href="{{ url_for('static',filename='css/add-server.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class = 'main-header'>
        <nav class="main-header-nav">
            <ul class='site-navigation'>
                <li class="site-navigation-item"><a href="{{url_for('index')}}" class="main-page">Главная</a></li>
                <li class="site-navigation-item"><a href="{{url_for('add_server')}}">Подключение систем мониторинга</a></li>
                <li class="site-navigation-item"><a href="{{url_for('objects_page')}}">Просмотр узлов сети</a></li>
                <li class="site-navigation-item"><a href="{{url_for('problems_page')}}">Проблемы</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="create-integration">
            <h1 class="create-integration-h">Создание интеграции</h1>
            <form action="{{ url_for('processing_data_from_fields') }}" method="post" id="integration-form">
                <p class = 'name'>
                    <input type="text" name="name" placeholder="Название">
                </p>
                <p class="description" >
                    <input type="text" name="description" placeholder="Описание" >
                </p>
                <p class="url-intgr">
                    <input type="text" name = 'url' placeholder="URL сервера" required>
                </p>
                <p class = 'login'>
                    <input type="text" name="login" placeholder="Логин">
                </p>
                <p class="password">
                    <input type="password" name="password" placeholder="Пароль">
                </p>
                <p class="button-add">
                    <input type="submit" value="Добавить">
                </p>
            </form>
        </section>
    </main>
    <footer class ='main-footer'>
    </footer>
    <div id = 'popup' class = 'popup hidden'>
        <div class = 'popup-body'>
            <div class = popup-content>
                <img class = 'close-popup' src="{{ url_for('static',filename='img/close_icon.png')}}" alt="крестик для закрытия окошка" width="20" height="20">
                <div class = 'popup-text'>
                    Добавление сервера <br>
                    Результат: <span class = 'vote-status'>Устонавливаю соединение...</span>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static',filename='js/submitingForm.js')}}"></script>
</body>
</html>