<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel= "stylesheet" href="{{ url_for('static',filename='css/home-page-style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class = 'main-header'>
        <nav class="main-header-nav">
            <ul class='site-navigation'>
                <li class="site-navigation-item"><a href="{{url_for('index')}}" class="main-page">Главная</a></li>
                <li class="site-navigation-item"><a href="{{url_for('add_server')}}">Подключение систем мониторинга</a></li>
                <li class="site-navigation-item"><a href="{{url_for('objects_page')}}">Просмотр узлов сети</a></li>
                <li class="site-navigation-item"><a href="{{url_for('problems_page')}}">Проблемы</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="main-content">
            <h1>Список подключенных серверов</h1>
            <p class="servers-count">Количество подключенных серверов: <span class="number-of-servers">0</span></p>
            <div class="servers-list-blok">
                <ul class = 'servers-list'>
                    <li class="servers-list-item item-heading">
                        <div class="name-heading name-value">Название</div>
                        <div class="url-heading url-value">Url</div>
                        <div class="problems-count-heading problems-count-value">Проблемы</div>
                        <div class="objects-count-heading objects-count-value">Объекты</div>
                    </li>
                </ul>
            </div>
                <a class = 'add-server' href="{{url_for('add_server')}}">Добавить сервер</a>
        </section>
    </main>
    <footer class ='main-footer'>
    </footer>
    <div id = 'popup' class = 'popup hidden'>
        <div class = 'popup-body'>
            <div class = popup-content>
                <img class = 'close-popup' src="{{ url_for('static',filename='img/close_icon.png')}}" alt="крестик для закрытия окошка" width="20" height="20">
                <div class = 'popup-text'>
                    <h2 class="popup-name-server"></h2>
                    <p class="popup-title-description">Описание</p>
                    <div class="popup-content-container">
                        <span class="popup-description-server"></span>
                    </div>
                    <p class="button-delete">
                        <input type="button" value="Удалить сервер">
                    </p>
                </div>
            </div>
        </div>
    </div>
    <template id="servers-item-template">
        <li class="servers-list-item item-value">
            <div class="name-value"></div>
            <div class="url-value"></div>
            <div class="problems-count-value"></div>
            <div class="objects-count-value"></div>
        </li>
    </template>
    <script src="{{ url_for('static',filename='js/server-list.js')}}"></script>
</body>
</html>