<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel= "stylesheet" href="{{ url_for('static',filename='css/home-page-style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class = 'main-header'>
        <nav class="main-header-nav">
            <ul class='site-navigation'>
                <li class="site-navigation-item"><a href="{{url_for('index')}}" class="main-page">Главная</a></li>
                <li class="site-navigation-item"><a href="{{url_for('add_server')}}">Подключение систем мониторинга</a></li>
                <li class="site-navigation-item"><a href="#">Просмотр узлов сети</a></li>
                <li class="site-navigation-item"><a href="{{url_for('problems_page')}}">Проблемы</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="main-content">
            <h1>Список подключенных серверов</h1>
            <p class="servers-count">Количество подключенных серверов: <span class="number-of-servers">0</span></p>
            <div class="servers-list-blok">
                <ul class = 'servers-list'>
                    
                </ul>
            </div>
                <a class = 'add-server' href="{{url_for('add_server')}}">Добавить сервер</a>
        </section>
    </main>
    <footer class ='main-footer'>
    </footer>
    <script src="{{ url_for('static',filename='js/server-list.js')}}"></script>
</body>
</html>