<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Объекты</title>
    <link rel= "stylesheet" href="{{ url_for('static',filename='css/objects-page-style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
</head>
<body>
    <header class = 'main-header'>
        <nav class="main-header-nav">
            <ul class='site-navigation'>
                <li class="site-navigation-item"><a href="{{url_for('index')}}" class="main-page">Главная</a></li>
                <li class="site-navigation-item"><a href="{{url_for('add_server')}}">Подключение систем мониторинга</a></li>
                <li class="site-navigation-item"><a href="{{url_for('objects_page')}}">Просмотр узлов сети</a></li>
                <li class="site-navigation-item"><a href="{{url_for('problems_page')}}">Проблемы</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="filters">
            <h1>Список объектов на серверах</h1>
            <select title="фильтр серверов" name="server-filter" id="server-filter" class="server-filter">
                <option class="filter-servers-item" value="All-servers">Все сервера</option>
            </select>
        </section>
        <section class="main-content">
            <div class="objects-list-blok">
                <ul class = 'objects-list'>
                    <li class="objects-list-item item-heading">
                        <div class="name-server-heading name-server-value ">Сервер</div>
                        <div class="name-object-heading name-object-value">Объект</div>
                        <div class="description-objects-heading description-objects-value">Информация об объекте</div>
                    </li>
                </ul>
            </div>
        </section>
    </main>
    <footer class="main-footer"></footer>
</body>
</html>